@import 'vars';

@mixin summaryStyles() {
    &_summary {
        display: block;

        &::marker {
            display: none;
        }
    }
}

@mixin textPropertys($cl, $ff, $fsz, $fs, $fw, $lh) {
    color: $cl;
    font-family: $ff;
    font-size: $fsz;
    font-style: $fs;
    font-weight: $fw;
    line-height: $lh;
}