@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*****  header-menu  *****/
.header {
  background-color: #000000;
}
.header__menu {
  max-width: 1140px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
.header__menu_left, .header__menu_right {
  display: flex;
  align-items: end;
  height: 56px;
  gap: 35px;
}
.header__menu_logo {
  display: block;
  width: 44px;
  height: 38px;
}
.header__menu_link {
  background-color: #000000;
  border: 0;
  display: block;
}

.search {
  width: 26px;
  height: 27px;
}

.hamburger {
  width: 32px;
  height: 23px;
}

.personal {
  width: 29px;
  height: 29px;
}

.market {
  width: 32px;
  height: 29px;
}

/***** popup *****/
.header__menu_left .header__menu_link,
.header__menu_right .header__menu_link:not(:first-child) {
  cursor: pointer;
}

.header__menu_link-summary {
  display: block;
}

.header__menu_link-summary::marker {
  display: none;
}

.header__menu_link-summary::before {
  content: url("../img/header/menu-hamburger.svg");
  cursor: pointer;
}

.header__menu_popup {
  background-color: #fff;
  position: absolute;
  top: 75px;
  right: 0;
  width: 232px;
  z-index: 2;
}
.header__menu_popup-value {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.header__menu_popup-header {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__menu_popup-title {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 12px;
}
.header__menu_popup-text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 11px 22px;
  text-decoration: none;
}
.header__menu_popup-text:last-child {
  margin-bottom: 0;
}

.popup__block {
  display: flex;
  flex-direction: column;
}

/**** new-arrivals ****/
.new-arrivals {
  background-color: #F8F3F4;
  margin-bottom: 55px;
}
.new-arrivals__box-size_block {
  max-width: 1140px;
  height: 148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-arrivals__title {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-arrivals__page {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-arrivals__page_span {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/***** shop *****/
.shop {
  margin-bottom: 96px;
  /**** filters and popups ****/
  /**** filters and popups END ****/
}
.shop__filters {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.shop__filters_box-size_block {
  max-width: 690px;
  display: flex;
  justify-content: space-between;
}
.shop__filters_menu-left_list {
  cursor: pointer;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}
.shop__filters_menu-left_list_summary {
  display: block;
}
.shop__filters_menu-left_list_summary::marker {
  display: none;
}
.shop__filters_menu-left_list[open] {
  margin-left: 16px;
  color: #EF5B70;
}
.shop__filters_menu-left_list[open] .shop__filters_menu-left_list_summary-svg {
  fill: #EF5B70;
}
.shop__filters_menu-left_list_summary {
  position: relative;
  z-index: 5;
}
.shop__filters_menu-right {
  display: flex;
  gap: 28px;
}
.shop__filters_menu-right_list {
  position: relative;
  cursor: pointer;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop__filters_menu-right_list_summary {
  display: block;
}
.shop__filters_menu-right_list_summary::marker {
  display: none;
}
.shop__filters_menu-right_link {
  text-decoration: none;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop .popup_filters {
  width: 360px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: -13px;
  left: -16px;
  z-index: 4;
}
.shop .popup_filters-value {
  margin: 46px 16px 16px 17px;
}
.shop .popup_filters_text {
  padding-left: 11px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s;
}
.shop .popup_filters_category, .shop .popup_filters_brand, .shop .popup_filters_designer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #EBEBEB;
}
.shop .popup_filters_category {
  margin-bottom: 25px;
}
.shop .popup_filters_category_links {
  margin: 0 0 13px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.shop .popup_filters_category_links_link {
  text-decoration: none;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 11px;
  transition: all 0.2s;
}
.shop .popup_filters_category_links_link:hover {
  color: #EF5B70;
}
.shop .popup_filters_category .popup_filters_text {
  color: #EF5B70;
}
.shop .popup_filters_brand {
  margin-bottom: 19px;
}
.shop .popup_filters_brand:hover .popup_filters_text {
  color: #EF5B70;
}
.shop .popup_filters_category:hover .popup_filters_text {
  color: #EF5B70;
}
.shop .popup_filters_designer:hover .popup_filters_text {
  color: #EF5B70;
}
.shop .popup_sizes {
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 22px;
  left: -10px;
  width: 79px;
  box-sizing: border-box;
  z-index: 2;
  cursor: default;
}
.shop .popup_sizes-value {
  padding: 0 0 11px 9px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.shop .popup_sizes-value_item {
  margin-top: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.shop .popup_sizes-value_item-box {
  display: block;
  width: 12px;
  height: 12px;
  outline: 1px solid #EBEBEB;
}
.shop .popup_sizes-value_item-text {
  padding-left: 9px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop__box-size_block {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}
.shop__card {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop__card:hover .shop__card_add-to-card, .shop__card:hover .shop__card_opasity {
  opacity: 1;
}
.shop__card_image-box {
  width: 360px;
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop__card:nth-child(1) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/1shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(2) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/2shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(3) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/3shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(4) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/4shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(5) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/5shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(6) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/6shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(7) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/7shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(8) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/8shop__card.jpg);
  background-size: contain;
}
.shop__card:nth-child(9) .shop__card_image-box {
  background: url(../img/page__catalog/shop__cards/9shop__card.jpg);
  background-size: contain;
}
.shop__card_opasity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 22, 22, 0.7);
  opacity: 0;
  transition: all 0.3s;
}
.shop__card_add-to-card {
  padding: 14px 16px 13px 51px;
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}
.shop__card_add-to-card::before {
  content: "";
  background: url("../img/header/menu-market.svg");
  background-size: contain;
  position: absolute;
  top: 11px;
  left: 14px;
  width: 26px;
  height: 23px;
}
.shop__card_content {
  padding: 25px 28px 20px 16px;
  background-color: #F8F8F8;
}
.shop__card_title {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}
.shop__card_text {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.shop__card_price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop__navigation {
  box-sizing: border-box;
  border: solid 1px #EBEBEB;
}
.shop__navigation_link {
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  color: #C4C4C4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px 8px;
  transition: all 0.3s;
}
.shop__navigation_link:nth-child(2) {
  color: #EF5B70;
}
.shop__navigation_link:hover {
  color: #EF5B70;
}
.shop__navigation_left {
  padding-left: 16px;
}
.shop__navigation_right {
  padding-right: 16px;
}

/***** advantages *****/
.advantages {
  background-color: #222224;
}
.advantages__box-size_block {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}
.advantages__property {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 103px 0;
}
.advantages__image_box {
  height: 60px;
}
.advantages__title {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.advantages__text {
  text-align: center;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/***** subscribe *****/
.subscribe {
  background-image: url("../img/subscribe__background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subscribe__opasity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe__box-size_block {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.subscribe__block {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__quote {
  margin: 97px 0 130px;
}
.subscribe__quote-image_box {
  height: 126px;
  width: 96px;
}
.subscribe__quote-image {
  width: 100%;
}
.subscribe__quote-text {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__quote-text_span {
  font-style: italic;
}
.subscribe__form_block {
  margin: 150px 0 160px;
}
.subscribe__form_title {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.subscribe__form_subtitle {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.subscribe__form_input-email {
  box-sizing: border-box;
  background: #E1E1E1;
  padding: 17px 0 17px 22px;
  width: 256px;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__btn_form_submit {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 0;
  text-align: center;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F16D7F;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  float: right;
  transition: all 0.3s;
  cursor: pointer;
}
.subscribe__btn_form_submit:hover {
  background-color: #E05C6E;
}

/***** footer *****/
.footer {
  background-color: #000000;
}
.footer__box-size_block {
  max-width: 1140px;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer__rights-text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social-networks {
  display: flex;
  gap: 7px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:hover .footer__link-image {
  fill: #ffffff;
  background-color: #F16D7F;
}

/***** @media *****/
@media (max-width: 1200px) {
  .header {
    padding-left: 32px;
    padding-right: 41px;
  }
  .shop__box-size_block {
    margin: 0 16px;
  }
  .shop__cards {
    gap: 16px;
  }
  .advantages__box-size_block {
    gap: 15px;
    margin: 0 15px;
  }
  .subscribe__box-size_block {
    gap: 30px;
    margin: 0 30px;
  }
  .footer__box-size_block {
    margin: 0 32px;
  }
}
@media (max-width: 1172px) {
  .new-arrivals__box-size_block {
    margin: 0 16px;
  }
  .shop__filters {
    margin: 0 16px 55px;
  }
}
@media (max-width: 1024px) {
  .advantages__box-size_block {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  .advantages__property {
    margin: 48px 0 0 0;
  }
  .advantages__property:last-child {
    margin-bottom: 64px;
  }
  .subscribe__box-size_block {
    gap: 15px;
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .subscribe {
    background-image: url("./img/subscribe__background.png");
    background-position-x: 25%;
  }
  .subscribe__box-size_block {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
  }
  .subscribe__quote {
    margin: 64px 0 75px;
  }
  .subscribe__form_block {
    margin: 0 0 140px;
  }
  .subscribe__form_subtitle {
    margin-bottom: 32px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 16px;
  }
  .personal {
    display: none;
  }
  .market {
    display: none;
  }
  .new-arrivals__box-size_block {
    flex-direction: column;
    justify-content: start;
  }
  .new-arrivals__title {
    margin: 24px 0 32px;
  }
  .shop__filters {
    margin: 0 8px 55px;
  }
  .shop__filters_menu-right_link, .shop__filters_menu-right_list_summary {
    font-size: 12px;
  }
  .shop__filters_menu_title {
    display: none;
  }
  .shop__filters_menu_bage {
    width: 38px;
    height: 25px;
  }
  .subscribe__box-size_block {
    margin: 0 17px;
  }
  .subscribe__quote {
    margin: 64px 0 60px;
  }
  .subscribe__quote-image_box {
    height: 122px;
    width: 92px;
  }
  .subscribe__quote-text {
    font-size: 18px;
  }
  .subscribe__form_block {
    margin: 0 0 110px;
  }
  .subscribe__form_subtitle {
    margin-bottom: 22px;
  }
  .subscribe__form_subtitle {
    font-size: 14px;
  }
  .subscribe__form_input-email {
    padding: 16px 0 16px 21px;
    width: 245px;
  }
  .subscribe__btn_form_submit {
    padding: 16px 18px;
    float: right;
  }
  .footer__box-size_block {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 0 9px;
  }
}
@media (max-width: 375px) {
  .shop__cards {
    gap: 16px;
    margin-bottom: 40px;
  }
  .shop__card {
    max-width: 100vw;
  }
  .shop__card_image-box {
    max-width: 100%;
    height: auto;
    aspect-ratio: 360/420;
  }
  .advantages_image-box {
    width: 320px;
    height: 100%;
    aspect-ratio: 360/420;
  }
  .advantages__box-size_block {
    margin: 0 14px;
  }
  .advantages__property:last-child {
    margin-bottom: 81px;
  }
}
@media (max-width: 374px) {
  .subscribe__form_input-email {
    padding: 16px 0 16px 21px;
    width: 189px;
  }
  .subscribe__btn_form_submit {
    padding: 16px 18px;
    float: right;
  }
}/*# sourceMappingURL=style.css.map */