@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*****  header-menu  *****/
.header {
  background-color: #000000;
}
.header__menu {
  max-width: 1140px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
.header__menu_left, .header__menu_right {
  display: flex;
  align-items: end;
  height: 56px;
  gap: 35px;
}
.header__menu_logo {
  width: 44px;
  height: 38px;
}
.header__menu_link {
  background-color: #000000;
  border: 0;
  display: block;
}

.search {
  width: 26px;
  height: 27px;
}

.hamburger {
  width: 32px;
  height: 23px;
}

.personal {
  width: 29px;
  height: 29px;
}

.market {
  width: 32px;
  height: 29px;
}

/***** menu-popup *****/
.header__menu_left .header__menu_link,
.header__menu_right .header__menu_link:not(:first-child) {
  cursor: pointer;
}

.header__menu_link-summary {
  display: block;
}

.header__menu_link-summary::marker {
  display: none;
}

.header__menu_link-summary::before {
  content: url("../img/header/menu-hamburger.svg");
  cursor: pointer;
}

.header__menu_popup {
  background-color: #fff;
  position: absolute;
  top: 75px;
  right: 0px;
  width: 232px;
  z-index: 2;
}
.header__menu_popup-value {
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.header__menu_popup-header {
  color: #000000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__menu_popup-title {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0 12px;
}
.header__menu_popup-text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 11px 22px;
  text-decoration: none;
}
.header__menu_popup-text:last-child {
  margin-bottom: 0;
}

.popup__block {
  display: flex;
  flex-direction: column;
}

/***** reg-title *****/
.reg-title {
  background-color: #F8F3F4;
  margin-bottom: 64px;
}
.reg-title__box-size_block {
  max-width: 1140px;
  height: 148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg-title__header {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/***** registration *****/
.registration {
  margin-bottom: 96px;
}
.registration__box-size_block {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 128px;
}
.registration__space {
  max-width: 360px;
}
.registration__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.registration__form-title {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 21px;
}
.registration__form-input {
  border: 0;
  box-sizing: border-box;
  outline: 1px solid #A4A4A4;
  padding: 14px 17px;
  width: 100%;
  margin-bottom: 21px;
  transition: all 0.3s;
}
.registration__form-input::-moz-placeholder {
  color: #A4A4A4;
}
.registration__form-input::placeholder {
  color: #A4A4A4;
}
.registration__form-input:hover, .registration__form-input:focus {
  outline: 1px solid #F16D7F;
}
.registration__form-input:nth-last-child(3) {
  margin-bottom: 16px;
}
.registration__form-radio {
  display: flex;
  margin-bottom: 33px;
}
.registration__form-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration__form-radio-input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F16D7F;
}
.registration__form-radio-input:not(:disabled):active + label::before, .registration__form-radio-input:checked + label::before {
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.registration__form-radio-label {
  padding-right: 20px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s;
}
.registration__form-radio-label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.2s;
}
.registration__form-radio-label:hover {
  color: #F16D7F;
}
.registration__form-text {
  color: #B1B1B1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 40px;
}
.registration__form-btn {
  box-sizing: border-box;
  border: 1px solid #F16D7F;
  padding: 16px 20px 16px 29px;
  background-color: #F16D7F;
  transition: all 0.3s;
}
.registration__form-btn:hover {
  background-color: #fff;
}
.registration__form-btn:hover .registration__form-btn_text, .registration__form-btn:hover .registration__form-btn_svg {
  color: #F16D7F;
  fill: #F16D7F;
}
.registration__form-btn_text {
  padding-right: 20px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
}
.registration__form-btn_svg {
  fill: #fff;
  transition: all 0.3s;
}
.registration__perks {
  max-width: 650px;
}
.registration__title, .registration__text {
  margin-bottom: 22px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__list {
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__point {
  margin-bottom: 16px;
  list-style-type: none;
}
.registration__point::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url("../img/page__registration/Vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 22px;
}

/***** subscribe *****/
.subscribe {
  background-image: url("../img/subscribe__background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subscribe__opasity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(244, 244, 244, 0.7);
}
.subscribe__box-size_block {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.subscribe__block {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__quote {
  margin: 97px 0 130px;
}
.subscribe__quote-image_box {
  height: 126px;
  width: 96px;
}
.subscribe__quote-image {
  width: 100%;
}
.subscribe__quote-text {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__quote-text_span {
  font-style: italic;
}
.subscribe__form_block {
  margin: 150px 0 160px;
}
.subscribe__form_title {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.subscribe__form_subtitle {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  margin-bottom: 32px;
}
.subscribe__form_input-email {
  box-sizing: border-box;
  background: #E1E1E1;
  padding: 17px 0 17px 22px;
  width: 256px;
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe__btn_form_submit {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 0;
  text-align: center;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F16D7F;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  float: right;
  transition: all 0.3s;
  cursor: pointer;
}
.subscribe__btn_form_submit:hover {
  background-color: #E05C6E;
}

/***** footer *****/
.footer {
  background-color: #000000;
}
.footer__box-size_block {
  max-width: 1140px;
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer__rights-text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social-networks {
  display: flex;
  gap: 7px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:hover .footer__link-image {
  fill: #ffffff;
  background-color: #F16D7F;
}

/***** @media *****/
@media (max-width: 1200px) {
  .header {
    padding-left: 32px;
    padding-right: 41px;
  }
  .subscribe__box-size_block {
    gap: 30px;
    margin: 0 30px;
  }
  .footer__box-size_block {
    margin: 0 32px;
  }
}
@media (max-width: 1172px) {
  .reg-title__box-size_block {
    margin: 0 16px;
  }
  .registration__box-size_block {
    margin: 0 16px;
    justify-content: space-between;
    gap: 22px;
  }
}
@media (max-width: 1024px) {
  .registration__title, .registration__text, .registration__list {
    font-size: 16px;
  }
  .subscribe__box-size_block {
    gap: 15px;
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .subscribe {
    background-image: url("./img/subscribe__background.png");
    background-position-x: 25%;
  }
  .subscribe__box-size_block {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 0;
  }
  .subscribe__quote {
    margin: 64px 0 75px;
  }
  .subscribe__form_block {
    margin: 0 0 140px;
  }
  .subscribe__form_subtitle {
    margin-bottom: 32px;
  }
}
@media (max-width: 700px) {
  .reg-title__box-size_block {
    margin: 0 8px;
    justify-content: center;
  }
  .registration__box-size_block {
    margin: 0 8px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 0 16px;
  }
  .personal {
    display: none;
  }
  .market {
    display: none;
  }
  .subscribe__box-size_block {
    margin: 0 17px;
  }
  .subscribe__quote {
    margin: 64px 0 60px;
  }
  .subscribe__quote-image_box {
    height: 122px;
    width: 92px;
  }
  .subscribe__quote-text {
    font-size: 18px;
  }
  .subscribe__form_block {
    margin: 0 0 110px;
  }
  .subscribe__form_subtitle {
    margin-bottom: 22px;
  }
  .subscribe__form_subtitle {
    font-size: 14px;
  }
  .subscribe__form_input-email {
    padding: 16px 0 16px 21px;
    width: 245px;
  }
  .subscribe__btn_form_submit {
    padding: 16px 18px;
    float: right;
  }
  .footer__box-size_block {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 0 9px;
  }
}
@media (max-width: 375px) {
  .registration__space {
    max-width: 96%;
  }
}
@media (max-width: 374px) {
  .subscribe__form_input-email {
    padding: 16px 0 16px 21px;
    width: 189px;
  }
  .subscribe__btn_form_submit {
    padding: 16px 18px;
    float: right;
  }
}/*# sourceMappingURL=style.css.map */