@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

/*****  header-menu  *****/

.header {
    background-color: $header-footerBgColor;

    &__menu {
        max-width: $siteWidth;
        margin: 0 auto;
        height: 75px;
        display: flex;
        justify-content: space-between;
    }

    &__menu_left,
    &__menu_right {
        display: flex;
        align-items: end;
        height: 56px;
        gap: 35px;
    }

    &__menu_logo {
        width: 44px;
        height: 38px;
    }

    &__menu_link {
        background-color: $header-footerBgColor;
        border: 0;
        display: block;
    }
}


.search {
    width: 26px;
    height: 27px;
}

.hamburger {
    width: 32px;
    height: 23px;
}

.personal {
    width: 29px;
    height: 29px;
}

.market {
    width: 32px;
    height: 29px;
}


/***** menu-popup *****/


.header__menu_left .header__menu_link,
.header__menu_right .header__menu_link:not(:first-child) {
    cursor: pointer;
}

.header__menu_link-summary {
    display: block;
}

.header__menu_link-summary::marker {
    display: none;
}

.header__menu_link-summary::before {
    content: url("../img/header/menu-hamburger.svg");
    cursor: pointer;
}

.header__menu_popup {
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 0px;
    width: 232px;
    z-index: 2;

    &-value {
        padding: 32px;
        display: flex;
        flex-direction: column;
    }

    &-header {
        @include textPropertys($header-footerBgColor, Lato, 14px, normal, 700, normal);
    }

    &-title {
        @include textPropertys(#F16D7F, Lato, 14px, normal, 400, normal);
        margin: 20px 0 12px;

    }

    &-text {
        @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
        margin: 0 0 11px 22px;
        text-decoration: none;
    }

    &-text:last-child {
        margin-bottom: 0;
    }
}

.popup__block {
    display: flex;
    flex-direction: column;
}

/***** reg-title *****/

.reg-title {
    background-color: #F8F3F4;
    margin-bottom: 64px;

    &__box-size_block {
        max-width: 1140px;
        height: 148px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        @include textPropertys(#F16D7F, Lato, 24px, normal, 400, normal);
    }
}


/***** registration *****/

.registration {
    margin-bottom: 96px;

    &__box-size_block {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 128px;
    }

    &__space {
        max-width: 360px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: start;

        &-title {
            @include textPropertys(#222, Lato, 16px, normal, 300, normal);
            margin-bottom: 21px;
        }

        &-input {
            border: 0;
            box-sizing: border-box;
            outline: 1px solid #A4A4A4;
            padding: 14px 17px;
            width: 100%;
            margin-bottom: 21px;
            transition: all 0.3s;

            &::placeholder {
                color: #A4A4A4;
            }

            &:hover,
            &:focus {
                outline: 1px solid #F16D7F;
            }

            &:nth-last-child(3) {
                margin-bottom: 16px;
            }
        }

        &-radio {
            display: flex;
            margin-bottom: 33px;

            &-input {
                position: absolute;
                z-index: -1;
                opacity: 0;

                &:not(:disabled):not(:checked)+label:hover::before {
                    border-color: #F16D7F;
                }

                &:not(:disabled):active+label::before,
                &:checked+label::before {
                    background-color: #F16D7F;
                    border-color: #F16D7F;
                }
            }

            &-label {
                padding-right: 20px;
                @include textPropertys(#000, Lato, 11px, normal, 300, normal);
                display: inline-flex;
                align-items: center;
                user-select: none;
                transition: all 0.2s;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #A4A4A4;
                    border-radius: 50%;
                    margin-right: 10px;
                    transition: all 0.2s;
                }

                &:hover {
                    color: #F16D7F;
                }
            }
        }

        &-text {
            @include textPropertys(#B1B1B1, Lato, 13px, normal, 300, normal);
            margin-bottom: 40px;
        }

        &-btn {
            box-sizing: border-box;
            border: 1px solid #F16D7F;
            padding: 16px 20px 16px 29px;
            background-color: #F16D7F;
            transition: all 0.3s;

            &:hover {
                background-color: #fff;
            }

            &:hover &_text,
            &:hover &_svg {
                color: #F16D7F;
                fill: #F16D7F;
            }

            &_text {
                padding-right: 20px;
                @include textPropertys(#fff, Lato, 14px, normal, 400, normal);
                transition: all 0.3s;
            }

            &_svg {
                fill: #fff;
                transition: all 0.3s;
            }
        }
    }

    &__perks {
        max-width: 650px;
    }

    &__title,
    &__text {
        margin-bottom: 22px;
        @include textPropertys(#000, Lato, 24px, normal, 300, normal);
    }

    &__list {
        @include textPropertys(#000, Lato, 24px, normal, 300, normal);
    }

    &__point {
        margin-bottom: 16px;
        list-style-type: none;

        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 16px;
            background-image: url('../img/page__registration/Vector.svg');
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 22px;
        }
    }
}


/***** subscribe *****/

.subscribe {
    background-image: url('../img/subscribe__background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__opasity {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(244, 244, 244, 0.70);
    }

    &__box-size_block {
        max-width: $siteWidth;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__block {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__quote {
        margin: 97px 0 130px;

        &-image_box {
            height: 126px;
            width: 96px;
        }

        &-image {
            width: 100%;
        }

        &-text {
            text-align: center;
            @include textPropertys(#222224, Lato, 20px, normal, 400, normal);

        }

        &-text_span {
            font-style: italic;
        }
    }

    &__form_block {
        margin: 150px 0 160px;
    }

    &__form_title {
        text-align: center;
        @include textPropertys(#222224, Lato, 24px, normal, 400, 167.2%);
    }

    &__form_subtitle {
        @include textPropertys(#222224, Lato, 18px, normal, 400, 167.2%);
        margin-bottom: 32px;
    }

    &__form_input-email {
        box-sizing: border-box;
        background: #E1E1E1;
        padding: 17px 0 17px 22px;
        width: 256px;
        border: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        outline: none;
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn_form_submit {
        box-sizing: border-box;
        padding: 17px 20px;
        border: 0;
        text-align: center;
        @include textPropertys(#fff, Lato, 14px, normal, 400, normal);
        background-color: #F16D7F;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        float: right;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #E05C6E;
        }
    }

}

/***** footer *****/


.footer {
    background-color: $header-footerBgColor;

    &__box-size_block {
        max-width: $siteWidth;
        min-height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__rights-text {
        @include textPropertys(#FBFBFB, Lato, 16px, normal, 400, normal);
    }

    &__social-networks {
        display: flex;
        gap: 7px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 32px;
        height: 32px;
        transition: all 0.3s;

        &:hover,
        &:hover &-image {
            fill: #ffffff;
            background-color: #F16D7F;
        }
    }
}

/***** @media *****/

@media (max-width: 1200px) {

    .header {
        padding-left: 32px;
        padding-right: 41px;
    }

    .subscribe__box-size_block {
        gap: 30px;
        margin: 0 30px;
    }

    .footer__box-size_block {
        margin: 0 32px;
    }
}

@media (max-width: 1172px) {
    .reg-title {
        &__box-size_block {
            margin: 0 16px;
        }
    }

    .registration {
        &__box-size_block {
            margin: 0 16px;
            justify-content: space-between;
            gap: 22px;
        }
    }
}

@media (max-width: 1024px) {

    .registration {

        &__title,
        &__text,
        &__list {
            font-size: 16px;
        }
    }

    .subscribe__box-size_block {
        gap: 15px;
        margin: 0 10px;
    }
}

@media (max-width: 768px) {

    .subscribe {
        background-image: url('./img/subscribe__background.png');
        background-position-x: 25%;

        &__box-size_block {
            flex-direction: column;
            align-items: center;
            margin: 0;
            gap: 0;
        }

        &__quote {
            margin: 64px 0 75px;
        }

        &__form_block {
            margin: 0 0 140px;
        }

        &__form_subtitle {
            margin-bottom: 32px;
        }
    }
}

@media (max-width: 700px) {

    .reg-title {
        &__box-size_block {
            margin: 0 8px;
            justify-content: center;
        }
    }

    .registration {
        &__box-size_block {
            margin: 0 8px;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        padding: 0 16px;
    }

    .personal {
        display: none;
    }

    .market {
        display: none;
    }

    .subscribe__box-size_block {
        margin: 0 17px;
    }

    .subscribe__quote {
        margin: 64px 0 60px;

        &-image_box {
            height: 122px;
            width: 92px;
        }

        &-text {
            font-size: 18px;
        }
    }

    .subscribe__form_block {
        margin: 0 0 110px;
    }

    .subscribe__form_subtitle {
        margin-bottom: 22px;
    }

    .subscribe__form_subtitle {
        font-size: 14px;
    }

    .subscribe__form_input-email {
        padding: 16px 0 16px 21px;
        width: 245px;
    }

    .subscribe__btn_form_submit {
        padding: 16px 18px;
        float: right;
    }

    .footer__box-size_block {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 43px 0 9px;
    }
}

@media (max-width: 375px) {
    .registration {
        &__space {
            max-width: 96%;
        }
    }
}


@media (max-width: 374px) {
    .subscribe__form_input-email {
        padding: 16px 0 16px 21px;
        width: 189px;
    }

    .subscribe__btn_form_submit {
        padding: 16px 18px;
        float: right;
    }
}