@import 'vars';

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin textPropertys($cl, $ff, $fsz, $fs, $fw, $lh) {
    color: $cl;
    font-family: $ff;
    font-size: $fsz;
    font-style: $fs;
    font-weight: $fw;
    line-height: $lh;
}