@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

/*****  header-menu  *****/

.header {
    background-color: $header-footerBgColor;

    &__menu {
        max-width: $siteWidth;
        margin: 0 auto;
        height: 75px;
        display: flex;
        justify-content: space-between;
    }

    &__menu_left,
    &__menu_right {
        display: flex;
        align-items: end;
        height: 56px;
        gap: 35px;
    }

    &__menu_logo {
        width: 44px;
        height: 38px;
    }

    &__menu_link {
        background-color: $header-footerBgColor;
        border: 0;
        display: block;
    }
}


.search {
    width: 26px;
    height: 27px;
}

.hamburger {
    width: 32px;
    height: 23px;
}

.personal {
    width: 29px;
    height: 29px;
}

.market {
    width: 32px;
    height: 29px;
}


/***** popup *****/


.header__menu_left .header__menu_link,
.header__menu_right .header__menu_link:not(:first-child) {
    cursor: pointer;
}

.header__menu_link-summary {
    display: block;
}

.header__menu_link-summary::marker {
    display: none;
}

.header__menu_link-summary::before {
    content: url("../img/header/menu-hamburger.svg");
    cursor: pointer;
}

.header__menu_popup {
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 0;
    width: 232px;
    z-index: 2;

    &-value {
        padding: 32px;
        display: flex;
        flex-direction: column;
    }

    &-header {
        @include textPropertys($header-footerBgColor, Lato, 14px, normal, 700, normal);
    }

    &-title {
        @include textPropertys(#F16D7F, Lato, 14px, normal, 400, normal);
        margin: 20px 0 12px;

    }

    &-text {
        @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
        margin: 0 0 11px 22px;
        text-decoration: none;
    }

    &-text:last-child {
        margin-bottom: 0;
    }
}

.popup__block {
    display: flex;
    flex-direction: column;
}

/**** new-arrivals ****/

.new-arrivals {
    background-color: #F8F3F4;

    &__box-size_block {
        max-width: 1140px;
        height: 148px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include textPropertys(#F16D7F, Lato, 24px, normal, 400, normal);
    }

    &__page {
        @include textPropertys(#636363, Lato, 14px, normal, 400, normal);

        &_span {
            @include textPropertys(#F16D7F, Lato, 14px, normal, 700, normal);
        }
    }

}

/**** slider ****/

.slider {
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

    &__pick {
        margin: 11px 0 42px;
        aspect-ratio: 0.8;
        max-width: 100vw;
    }

    &__left_btn {
        @include sliderNavigationBtn(0, auto);
    }

    &__right_btn {
        @include sliderNavigationBtn(auto, 0);

    }
}

.description {
    margin: -65px 0 130px;

    &__box-size_block {
        width: 1140px;
        padding-top: 65px;
        position: relative;
        background-color: #fff;
        box-sizing: border-box;
        border: #EAEAEA 1px solid;
        z-index: 1;
        margin: 0 auto;
        @include flexColumn();
    }

    &__content {
        max-width: 640px;
        @include flexColumn();

        &_subtitle {
            @include textPropertys(#F16D7F, Lato, 14px, normal, 300, normal);
            margin-bottom: 12px;
        }

        &_red-line {
            width: 63px;
            border-bottom: 3px solid #F16D7F;
            margin-bottom: 12px;
        }

        &_title {
            @include textPropertys(#4D4D4D, Lato, 18px, normal, 300, normal);
            margin-bottom: 48px;
        }

        &_text {
            @include textPropertys(#5E5E5E, Lato, 14px, normal, 300, normal);
            margin-bottom: 32px;
            text-align: center;
            max-width: 555px;
        }

        &_prise {
            @include textPropertys(#F16D7F, Lato, 24px, normal, 300, normal);
            margin-bottom: 55px;
        }

        &_grey-line {
            width: 100%;
            border: none;
            color: #EAEAEA;
            background-color: #EAEAEA;
            height: 1px;
            margin-bottom: 65px;
        }

        &_sort {
            display: flex;
            gap: 23px;
            margin-bottom: 50px;
        }

        &_btn_add-to-card {
            margin-bottom: 60px;
            padding: 15px 57px 15px 73px;
            background-color: #fff;
            @include textPropertys(#F26376, Lato, 16px, normal, 400, normal);
            border: 1px solid #EF5B70;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;

            &::before {
                content: '';
                background: url('../img/card_pink.svg');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 15px;
                left: 24px;
                width: 26px;
                height: 23px;
                transition: all 0.3s;
            }

            &:hover {
                background-color: #F26376;
                color: #fff;

                &:before {
                    background: url('../img/header/menu-market.svg');
                    background-size: cover;
                }
            }
        }
    }
}

.sort {

    &__summary {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        cursor: pointer;
    }

    &__heading {
        @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
    }

    &-color__popup {

        width: 180px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        position: absolute;
        top: 22px;
        left: -16px;
        z-index: 4;

        &_heading {
            @include textPropertys(#F26376, Lato, 16px, normal, 400, normal);
            margin-bottom: 14px;
        }

        &-value {
            margin: 30px 16px 16px 17px;

            &_item {
                display: flex;
                margin-bottom: 11px;
            }

            &_input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                transition: all 0.3s;

                &:not(:disabled):not(:checked)+.sort-color__popup-value_label:hover::before,
                &:not(:disabled):not(:checked)+.sort-color__popup-value_label:hover {
                    border-color: #F26376;
                    color: #F26376;
                }

                &:checked+.sort-color__popup-value_label::before {
                    border-color: #F26376;
                    background-color: #F26376;
                }

                &:checked+.sort-color__popup-value_label {
                    color: #F26376;
                }
            }

            &_label {
                @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                user-select: none;
                transition: all 0.3s;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 50%;
                    margin-right: 0.5em;
                    transition: all 0.3s;
                }

            }
        }

    }

    &-size__popup {

        width: 140px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        position: absolute;
        top: 22px;
        left: -16px;
        z-index: 4;

        &_heading {
            @include textPropertys(#F26376, Lato, 16px, normal, 400, normal);
            margin-bottom: 14px;
        }

        &-value {
            margin: 30px 16px 16px 17px;

            &_item {
                display: flex;
                margin-bottom: 11px;
            }

            &_input {
                position: absolute;
                z-index: -1;
                opacity: 0;
                transition: all 0.3s;

                &:not(:disabled):not(:checked)+.sort-size__popup-value_label:hover::before,
                &:not(:disabled):not(:checked)+.sort-size__popup-value_label:hover {
                    border-color: #F26376;
                    color: #F26376;
                }

                &:checked+.sort-size__popup-value_label::before {
                    border-color: #F26376;
                    background-color: #F26376;
                }

                &:checked+.sort-size__popup-value_label {
                    color: #F26376;
                }
            }

            &_label {
                @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                user-select: none;
                transition: all 0.3s;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #adb5bd;
                    border-radius: 50%;
                    margin-right: 0.5em;
                    transition: all 0.3s;
                }

            }
        }

    }
}

.sort-color,
.sort-size,
.quantity {
    position: relative;
}


.quantity__popup {

    width: 180px;
    background: #FFF;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    position: absolute;
    top: 22px;
    left: -16px;
    z-index: 4;

    &_heading {
        @include textPropertys(#F26376, Lato, 16px, normal, 400, normal);
        margin-bottom: 14px;
    }

    &-value {
        margin: 30px 16px 16px 17px;

        &_input {
            width: 30px;
            @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
            outline: 1px solid #6F6E6E;
            border: 0;

            &:focus-visible {
                outline: 1px solid #F26376;
            }

            &:focus-visible+.quantity__popup-value_label {
                color: #F26376;
            }
        }

        &_label {
            @include textPropertys(#6F6E6E, Lato, 14px, normal, 400, normal);
            padding-left: 9px;
        }
    }
}





/***** shop *****/

.shop {
    margin-bottom: 128px;

    &__box-size_block {
        max-width: $siteWidth;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__card {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover &_add-to-card,
        &:hover &_opasity {
            opacity: 1;
        }

        &_image-box {
            width: 360px;
            height: 420px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:nth-child(1) &_image-box {
            background: url(../img/shop__cards/4shop__card.jpg);
            background-size: contain;
        }

        &:nth-child(2) &_image-box {
            background: url(../img/shop__cards/3shop__card.jpg);
            background-size: contain;
        }

        &:nth-child(3) &_image-box {
            background: url(../img/shop__cards/6shop__card.jpg);
            background-size: contain;
        }

        &_opasity {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(33, 22, 22, 0.70);
            opacity: 0;
            transition: all 0.3s;
        }

        &_add-to-card {
            padding: 14px 16px 13px 51px;
            @include textPropertys(#FFF, Lato, 14px, normal, 400, normal);
            border: 1px solid #fff;
            position: relative;
            z-index: 1;
            background: transparent;
            cursor: pointer;
            opacity: 0;
            transition: all 0.3s;
        }

        &_add-to-card::before {
            content: '';
            background: url('../img/header/menu-market.svg');
            background-size: contain;
            position: absolute;
            top: 11px;
            left: 14px;
            width: 26px;
            height: 23px;
        }

        &_content {
            padding: 25px 28px 20px 16px;
            background-color: #F8F8F8;
        }

        &_title {
            @include textPropertys(#000, Lato, 13px, normal, 400, normal);
            margin-bottom: 13px;
        }

        &_text {
            margin-bottom: 18px;
            @include textPropertys(#5D5D5D, Lato, 14px, normal, 300, normal);
        }

        &_price {
            color: #F16D7F;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include textPropertys(#F16D7F, Lato, 16px, normal, 400, normal);
        }
    }

}

/***** advantages *****/

.advantages {
    background-color: #222224;

    &__box-size_block {
        display: flex;
        max-width: $siteWidth;
        justify-content: space-between;
        gap: 30px;
        margin: 0 auto;
    }

    &__property {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 103px 0;
    }

    &__image_box {
        height: 60px;
    }

    &__title {

        @include textPropertys(#FBFBFB, Lato, 20px, normal, 400, normal);
        margin-bottom: 16px;
    }

    &__text {
        text-align: center;
        @include textPropertys(#FBFBFB, Lato, 14px, normal, 300, normal);
    }
}


/***** subscribe *****/

.subscribe {
    background-image: url('../img/subscribe__background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__opasity {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(244, 244, 244, 0.70);
    }

    &__box-size_block {
        max-width: $siteWidth;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__block {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__quote {
        margin: 97px 0 130px;

        &-image_box {
            height: 126px;
            width: 96px;
        }

        &-image {
            width: 100%;
        }

        &-text {
            text-align: center;
            @include textPropertys(#222224, Lato, 20px, normal, 400, normal);

        }

        &-text_span {
            font-style: italic;
        }
    }

    &__form_block {
        margin: 150px 0 160px;
    }

    &__form_title {
        text-align: center;
        @include textPropertys(#222224, Lato, 24px, normal, 400, 167.2%);
    }

    &__form_subtitle {
        @include textPropertys(#222224, Lato, 18px, normal, 400, 167.2%);
        margin-bottom: 32px;
    }

    &__form_input-email {
        box-sizing: border-box;
        background: #E1E1E1;
        padding: 17px 0 17px 22px;
        width: 256px;
        border: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        outline: none;
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__btn_form_submit {
        box-sizing: border-box;
        padding: 17px 20px;
        border: 0;
        text-align: center;
        @include textPropertys(#fff, Lato, 14px, normal, 400, normal);
        background-color: #F16D7F;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        float: right;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #E05C6E;
        }
    }

}

/***** footer *****/


.footer {
    background-color: $header-footerBgColor;

    &__box-size_block {
        max-width: $siteWidth;
        min-height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    &__rights-text {
        @include textPropertys(#FBFBFB, Lato, 16px, normal, 400, normal);
    }

    &__social-networks {
        display: flex;
        gap: 7px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 32px;
        height: 32px;
        transition: all 0.3s;

        &:hover,
        &:hover &-image {
            fill: #ffffff;
            background-color: #F16D7F;
        }
    }
}

/***** @media *****/

@media (max-width: 1200px) {

    .header {
        padding-left: 32px;
        padding-right: 41px;
    }

    .shop__subtitle {
        margin-bottom: 74px;
    }

    .shop__box-size_block {
        margin: 0 16px;
    }

    .shop__cards {
        gap: 16px;
    }

    .advantages__box-size_block {
        gap: 15px;
        margin: 0 15px;
    }

    .subscribe__box-size_block {
        gap: 30px;
        margin: 0 30px;
    }

    .footer__box-size_block {
        margin: 0 32px;
    }
}

@media (max-width: 1172px) {
    .new-arrivals {
        &__box-size_block {
            margin: 0 16px;
        }
    }
}

@media (max-width: 1160px) {
    .description__box-size_block {
        width: auto;
    }
}

@media (max-width: 1024px) {

    .slider {
        &__pick {
            margin: 30px 0 30px;
        }
    }

    .description {
        margin: 0 0 130px;
    }

    .advantages__box-size_block {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }

    .advantages__property {
        margin: 48px 0 0 0;

        &:last-child {
            margin-bottom: 64px;
        }
    }

    .subscribe__box-size_block {
        gap: 15px;
        margin: 0 10px;
    }
}

@media (max-width: 768px) {

    .subscribe {
        background-image: url('./img/subscribe__background.png');
        background-position-x: 25%;

        &__box-size_block {
            flex-direction: column;
            align-items: center;
            margin: 0;
            gap: 0;
        }

        &__quote {
            margin: 64px 0 75px;
        }

        &__form_block {
            margin: 0 0 140px;
        }

        &__form_subtitle {
            margin-bottom: 32px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        padding: 0 16px;
    }

    .personal {
        display: none;
    }

    .market {
        display: none;
    }

    .new-arrivals {
        &__box-size_block {
            flex-direction: column;
            justify-content: start;
        }

        &__title {
            margin: 24px 0 32px;
        }
    }

    .description {
        margin-bottom:64px;

        &__content {
            margin: 0 15px;
        }
    }

    .sort__heading {
        font-size:10px ;
    }

    .shop {
        margin:0 9px 64px;
    }

    .subscribe__box-size_block {
        margin: 0 17px;
    }

    .subscribe__quote {
        margin: 64px 0 60px;

        &-image_box {
            height: 122px;
            width: 92px;
        }

        &-text {
            font-size: 18px;
        }
    }

    .subscribe__form_block {
        margin: 0 0 110px;
    }

    .subscribe__form_subtitle {
        margin-bottom: 22px;
    }

    .subscribe__form_subtitle {
        font-size: 14px;
    }

    .subscribe__form_input-email {
        padding: 16px 0 16px 21px;
        width: 245px;
    }

    .subscribe__btn_form_submit {
        padding: 16px 18px;
        float: right;
    }

    .footer__box-size_block {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 43px 0 9px;
    }
}

@media (max-width: 375px) {
    .shop__cards {
        gap: 16px;
        margin-bottom: 40px;
    }

    .shop__card {
        max-width: 100vw;

        &_image-box {
            max-width: 100%;
            height: auto;
            aspect-ratio: 360/420;
        }
    }

    .advantages_image-box {
        width: 320px;
        height: 100%;
        aspect-ratio: 360/420;
    }

    .advantages__box-size_block {
        margin: 0 14px;
    }

    .advantages__property:last-child {
        margin-bottom: 81px;
    }
}


@media (max-width: 374px) {
    .subscribe__form_input-email {
        padding: 16px 0 16px 21px;
        width: 189px;
    }

    .subscribe__btn_form_submit {
        padding: 16px 18px;
        float: right;
    }
}